//! **************************************************************************
// Written by: Map K.39 on Tue Nov 29 16:58:09 2011
//! **************************************************************************

SCHEMATIC START;
COMP "tv_out_i2c_clock" LOCATE = SITE "J27" LEVEL 1;
COMP "tv_in_iso" LOCATE = SITE "AJ27" LEVEL 1;
COMP "audio_reset_b" LOCATE = SITE "AE18" LEVEL 1;
COMP "flash_ce_b" LOCATE = SITE "AJ21" LEVEL 1;
COMP "tv_in_fifo_clock" LOCATE = SITE "AG22" LEVEL 1;
COMP "ram1_data<0>" LOCATE = SITE "W3" LEVEL 1;
COMP "ram1_data<1>" LOCATE = SITE "Y4" LEVEL 1;
COMP "ram1_data<2>" LOCATE = SITE "Y3" LEVEL 1;
COMP "ram1_data<3>" LOCATE = SITE "AA4" LEVEL 1;
COMP "ram1_data<4>" LOCATE = SITE "AA3" LEVEL 1;
COMP "ram1_data<5>" LOCATE = SITE "AA5" LEVEL 1;
COMP "ram1_data<6>" LOCATE = SITE "AC4" LEVEL 1;
COMP "ram1_data<7>" LOCATE = SITE "AC3" LEVEL 1;
COMP "ram1_data<8>" LOCATE = SITE "V4" LEVEL 1;
COMP "ram1_data<9>" LOCATE = SITE "Y2" LEVEL 1;
COMP "disp_data_in" LOCATE = SITE "AE12" LEVEL 1;
COMP "tv_in_data_valid" LOCATE = SITE "AH25" LEVEL 1;
COMP "button_up" LOCATE = SITE "AL4" LEVEL 1;
COMP "ram1_adv_ld" LOCATE = SITE "Y5" LEVEL 1;
COMP "disp_rs" LOCATE = SITE "AF15" LEVEL 1;
COMP "vga_out_blue<0>" LOCATE = SITE "AH9" LEVEL 1;
COMP "tv_in_ycrcb<0>" LOCATE = SITE "M30" LEVEL 1;
COMP "vga_out_blue<1>" LOCATE = SITE "AJ10" LEVEL 1;
COMP "tv_in_ycrcb<1>" LOCATE = SITE "M31" LEVEL 1;
COMP "vga_out_blue<2>" LOCATE = SITE "AH11" LEVEL 1;
COMP "tv_in_ycrcb<2>" LOCATE = SITE "L30" LEVEL 1;
COMP "vga_out_blue<3>" LOCATE = SITE "AJ11" LEVEL 1;
COMP "tv_in_ycrcb<3>" LOCATE = SITE "R25" LEVEL 1;
COMP "vga_out_blue<4>" LOCATE = SITE "AG12" LEVEL 1;
COMP "ram1_bwe_b<0>" LOCATE = SITE "U2" LEVEL 1;
COMP "tv_in_ycrcb<4>" LOCATE = SITE "T24" LEVEL 1;
COMP "vga_out_blue<5>" LOCATE = SITE "AG13" LEVEL 1;
COMP "ram1_bwe_b<1>" LOCATE = SITE "U1" LEVEL 1;
COMP "tv_in_ycrcb<5>" LOCATE = SITE "T26" LEVEL 1;
COMP "vga_out_blue<6>" LOCATE = SITE "AG14" LEVEL 1;
COMP "ram1_bwe_b<2>" LOCATE = SITE "V1" LEVEL 1;
COMP "tv_in_ycrcb<6>" LOCATE = SITE "T23" LEVEL 1;
COMP "vga_out_blue<7>" LOCATE = SITE "AG15" LEVEL 1;
COMP "ram1_bwe_b<3>" LOCATE = SITE "U5" LEVEL 1;
COMP "tv_in_ycrcb<7>" LOCATE = SITE "U23" LEVEL 1;
COMP "analyzer3_data<0>" LOCATE = SITE "R24" LEVEL 1;
COMP "tv_in_ycrcb<8>" LOCATE = SITE "V23" LEVEL 1;
COMP "analyzer3_data<1>" LOCATE = SITE "R23" LEVEL 1;
COMP "tv_in_ycrcb<9>" LOCATE = SITE "W23" LEVEL 1;
COMP "analyzer3_data<2>" LOCATE = SITE "P23" LEVEL 1;
COMP "analyzer3_data<3>" LOCATE = SITE "N23" LEVEL 1;
COMP "analyzer3_data<4>" LOCATE = SITE "M22" LEVEL 1;
COMP "flash_oe_b" LOCATE = SITE "AK9" LEVEL 1;
COMP "analyzer3_data<5>" LOCATE = SITE "K23" LEVEL 1;
COMP "analyzer3_data<6>" LOCATE = SITE "M25" LEVEL 1;
COMP "ram1_data<10>" LOCATE = SITE "AA1" LEVEL 1;
COMP "analyzer3_data<7>" LOCATE = SITE "M24" LEVEL 1;
COMP "ram1_data<11>" LOCATE = SITE "AA2" LEVEL 1;
COMP "analyzer3_data<8>" LOCATE = SITE "M23" LEVEL 1;
COMP "ram1_data<20>" LOCATE = SITE "AE4" LEVEL 1;
COMP "ram1_data<12>" LOCATE = SITE "AB1" LEVEL 1;
COMP "analyzer3_data<9>" LOCATE = SITE "L23" LEVEL 1;
COMP "ram1_data<21>" LOCATE = SITE "AF3" LEVEL 1;
COMP "ram1_data<13>" LOCATE = SITE "AB2" LEVEL 1;
COMP "ram1_data<30>" LOCATE = SITE "AF2" LEVEL 1;
COMP "ram1_data<22>" LOCATE = SITE "AF4" LEVEL 1;
COMP "ram1_data<14>" LOCATE = SITE "AC1" LEVEL 1;
COMP "ram1_data<31>" LOCATE = SITE "AG1" LEVEL 1;
COMP "ram1_data<23>" LOCATE = SITE "AG3" LEVEL 1;
COMP "ram1_data<15>" LOCATE = SITE "AC2" LEVEL 1;
COMP "ram1_data<32>" LOCATE = SITE "AG2" LEVEL 1;
COMP "ram1_data<24>" LOCATE = SITE "AG4" LEVEL 1;
COMP "ram1_data<16>" LOCATE = SITE "AD1" LEVEL 1;
COMP "ram1_data<33>" LOCATE = SITE "AH1" LEVEL 1;
COMP "ram1_data<25>" LOCATE = SITE "AH3" LEVEL 1;
COMP "ram1_data<17>" LOCATE = SITE "V2" LEVEL 1;
COMP "ram1_data<34>" LOCATE = SITE "AH2" LEVEL 1;
COMP "ram1_data<26>" LOCATE = SITE "AB9" LEVEL 1;
COMP "ram1_data<18>" LOCATE = SITE "AD5" LEVEL 1;
COMP "systemace_data<0>" LOCATE = SITE "R28" LEVEL 1;
COMP "ram1_data<35>" LOCATE = SITE "AA9" LEVEL 1;
COMP "ram1_data<27>" LOCATE = SITE "AE1" LEVEL 1;
COMP "ram1_data<19>" LOCATE = SITE "AE5" LEVEL 1;
COMP "systemace_data<1>" LOCATE = SITE "R29" LEVEL 1;
COMP "ram1_data<28>" LOCATE = SITE "AE2" LEVEL 1;
COMP "systemace_data<2>" LOCATE = SITE "P28" LEVEL 1;
COMP "ram1_data<29>" LOCATE = SITE "AF1" LEVEL 1;
COMP "systemace_data<3>" LOCATE = SITE "N28" LEVEL 1;
COMP "systemace_data<4>" LOCATE = SITE "N29" LEVEL 1;
COMP "systemace_data<5>" LOCATE = SITE "M28" LEVEL 1;
COMP "disp_reset_b" LOCATE = SITE "AG11" LEVEL 1;
COMP "systemace_data<6>" LOCATE = SITE "M29" LEVEL 1;
COMP "systemace_data<7>" LOCATE = SITE "L28" LEVEL 1;
COMP "systemace_data<8>" LOCATE = SITE "L29" LEVEL 1;
COMP "systemace_data<9>" LOCATE = SITE "K29" LEVEL 1;
COMP "vga_out_blank_b" LOCATE = SITE "AJ8" LEVEL 1;
COMP "tv_in_clock" LOCATE = SITE "AB21" LEVEL 1;
COMP "daughtercard<0>" LOCATE = SITE "J7" LEVEL 1;
COMP "daughtercard<1>" LOCATE = SITE "J6" LEVEL 1;
COMP "daughtercard<2>" LOCATE = SITE "J8" LEVEL 1;
COMP "vga_out_green<0>" LOCATE = SITE "AC12" LEVEL 1;
COMP "flash_we_b" LOCATE = SITE "AL8" LEVEL 1;
COMP "daughtercard<3>" LOCATE = SITE "H7" LEVEL 1;
COMP "vga_out_green<1>" LOCATE = SITE "AG8" LEVEL 1;
COMP "daughtercard<4>" LOCATE = SITE "K5" LEVEL 1;
COMP "vga_out_green<2>" LOCATE = SITE "AC14" LEVEL 1;
COMP "daughtercard<5>" LOCATE = SITE "J5" LEVEL 1;
COMP "vga_out_green<3>" LOCATE = SITE "AD15" LEVEL 1;
COMP "daughtercard<6>" LOCATE = SITE "H5" LEVEL 1;
COMP "vga_out_green<4>" LOCATE = SITE "AH6" LEVEL 1;
COMP "daughtercard<7>" LOCATE = SITE "G5" LEVEL 1;
COMP "vga_out_green<5>" LOCATE = SITE "AJ6" LEVEL 1;
COMP "daughtercard<8>" LOCATE = SITE "F5" LEVEL 1;
COMP "vga_out_green<6>" LOCATE = SITE "AH7" LEVEL 1;
COMP "daughtercard<9>" LOCATE = SITE "E1" LEVEL 1;
COMP "vga_out_green<7>" LOCATE = SITE "AH8" LEVEL 1;
COMP "disp_blank" LOCATE = SITE "AF12" LEVEL 1;
COMP "led<0>" LOCATE = SITE "AE22" LEVEL 1;
COMP "led<1>" LOCATE = SITE "AE21" LEVEL 1;
COMP "analyzer1_clock" LOCATE = SITE "G2" LEVEL 1;
COMP "led<2>" LOCATE = SITE "AG21" LEVEL 1;
COMP "led<3>" LOCATE = SITE "AF20" LEVEL 1;
COMP "led<4>" LOCATE = SITE "AF19" LEVEL 1;
COMP "led<5>" LOCATE = SITE "AF18" LEVEL 1;
COMP "led<6>" LOCATE = SITE "AF17" LEVEL 1;
COMP "led<7>" LOCATE = SITE "AE17" LEVEL 1;
COMP "tv_out_pal_ntsc" LOCATE = SITE "J25" LEVEL 1;
COMP "tv_in_ycrcb<10>" LOCATE = SITE "AH26" LEVEL 1;
COMP "tv_in_ycrcb<11>" LOCATE = SITE "AJ26" LEVEL 1;
COMP "tv_in_ycrcb<12>" LOCATE = SITE "AG23" LEVEL 1;
COMP "tv_in_ycrcb<13>" LOCATE = SITE "AD20" LEVEL 1;
COMP "tv_in_ycrcb<14>" LOCATE = SITE "AF21" LEVEL 1;
COMP "tv_in_ycrcb<15>" LOCATE = SITE "AE20" LEVEL 1;
COMP "disp_clock" LOCATE = SITE "AF14" LEVEL 1;
COMP "tv_in_ycrcb<16>" LOCATE = SITE "AG20" LEVEL 1;
COMP "tv_in_ycrcb<17>" LOCATE = SITE "AG19" LEVEL 1;
COMP "analyzer1_data<10>" LOCATE = SITE "L1" LEVEL 1;
COMP "tv_in_ycrcb<18>" LOCATE = SITE "AG18" LEVEL 1;
COMP "button_enter" LOCATE = SITE "AK7" LEVEL 1;
COMP "analyzer1_data<11>" LOCATE = SITE "L5" LEVEL 1;
COMP "tv_out_ycrcb<0>" LOCATE = SITE "R26" LEVEL 1;
COMP "tv_in_ycrcb<19>" LOCATE = SITE "AG17" LEVEL 1;
COMP "analyzer1_data<12>" LOCATE = SITE "M8" LEVEL 1;
COMP "tv_out_ycrcb<1>" LOCATE = SITE "P26" LEVEL 1;
COMP "analyzer1_data<13>" LOCATE = SITE "M9" LEVEL 1;
COMP "tv_out_ycrcb<2>" LOCATE = SITE "N26" LEVEL 1;
COMP "analyzer1_data<14>" LOCATE = SITE "H3" LEVEL 1;
COMP "tv_out_ycrcb<3>" LOCATE = SITE "M26" LEVEL 1;
COMP "analyzer1_data<15>" LOCATE = SITE "G1" LEVEL 1;
COMP "tv_out_ycrcb<4>" LOCATE = SITE "L26" LEVEL 1;
COMP "tv_out_ycrcb<5>" LOCATE = SITE "J26" LEVEL 1;
COMP "tv_out_ycrcb<6>" LOCATE = SITE "H26" LEVEL 1;
COMP "analyzer3_data<10>" LOCATE = SITE "L22" LEVEL 1;
COMP "tv_out_ycrcb<7>" LOCATE = SITE "T29" LEVEL 1;
COMP "analyzer3_data<11>" LOCATE = SITE "L25" LEVEL 1;
COMP "analyzer2_clock" LOCATE = SITE "F1" LEVEL 1;
COMP "tv_out_ycrcb<8>" LOCATE = SITE "R27" LEVEL 1;
COMP "analyzer3_data<12>" LOCATE = SITE "L24" LEVEL 1;
COMP "tv_out_ycrcb<9>" LOCATE = SITE "P27" LEVEL 1;
COMP "analyzer3_data<13>" LOCATE = SITE "K22" LEVEL 1;
COMP "analyzer3_data<14>" LOCATE = SITE "K25" LEVEL 1;
COMP "analyzer3_data<15>" LOCATE = SITE "K24" LEVEL 1;
COMP "ram0_clk" LOCATE = SITE "U30" LEVEL 1;
COMP "disp_data_out" LOCATE = SITE "AE15" LEVEL 1;
COMP "ram1_clk" LOCATE = SITE "Y9" LEVEL 1;
COMP "flash_reset_b" LOCATE = SITE "AK18" LEVEL 1;
COMP "vga_out_sync_b" LOCATE = SITE "AJ9" LEVEL 1;
COMP "systemace_data<10>" LOCATE = SITE "J28" LEVEL 1;
COMP "systemace_data<11>" LOCATE = SITE "J29" LEVEL 1;
COMP "systemace_data<12>" LOCATE = SITE "H28" LEVEL 1;
COMP "analyzer3_clock" LOCATE = SITE "J24" LEVEL 1;
COMP "systemace_data<13>" LOCATE = SITE "H29" LEVEL 1;
COMP "systemace_data<14>" LOCATE = SITE "G28" LEVEL 1;
COMP "systemace_data<15>" LOCATE = SITE "F29" LEVEL 1;
COMP "analyzer4_data<0>" LOCATE = SITE "U8" LEVEL 1;
COMP "analyzer4_data<1>" LOCATE = SITE "U7" LEVEL 1;
COMP "analyzer4_data<2>" LOCATE = SITE "V7" LEVEL 1;
COMP "analyzer4_data<3>" LOCATE = SITE "AD13" LEVEL 1;
COMP "analyzer4_data<4>" LOCATE = SITE "AH17" LEVEL 1;
COMP "analyzer4_data<5>" LOCATE = SITE "AK27" LEVEL 1;
COMP "clock1" LOCATE = SITE "H16" LEVEL 1;
COMP "analyzer4_data<6>" LOCATE = SITE "AL27" LEVEL 1;
COMP "clock2" LOCATE = SITE "C15" LEVEL 1;
COMP "button_right" LOCATE = SITE "AL6" LEVEL 1;
COMP "analyzer4_data<7>" LOCATE = SITE "AF23" LEVEL 1;
COMP "analyzer4_data<8>" LOCATE = SITE "AF24" LEVEL 1;
COMP "button0" LOCATE = SITE "AE11" LEVEL 1;
COMP "analyzer4_data<9>" LOCATE = SITE "AG24" LEVEL 1;
COMP "button1" LOCATE = SITE "AE10" LEVEL 1;
COMP "button2" LOCATE = SITE "AD11" LEVEL 1;
COMP "button3" LOCATE = SITE "AB12" LEVEL 1;
COMP "switch<0>" LOCATE = SITE "AK26" LEVEL 1;
COMP "switch<1>" LOCATE = SITE "AL26" LEVEL 1;
COMP "switch<2>" LOCATE = SITE "AK25" LEVEL 1;
COMP "tv_out_subcar_reset" LOCATE = SITE "K27" LEVEL 1;
COMP "analyzer4_clock" LOCATE = SITE "AD9" LEVEL 1;
COMP "switch<3>" LOCATE = SITE "AC21" LEVEL 1;
COMP "switch<4>" LOCATE = SITE "AB20" LEVEL 1;
COMP "switch<5>" LOCATE = SITE "AC20" LEVEL 1;
COMP "switch<6>" LOCATE = SITE "AE23" LEVEL 1;
COMP "daughtercard<10>" LOCATE = SITE "E2" LEVEL 1;
COMP "switch<7>" LOCATE = SITE "AD22" LEVEL 1;
COMP "daughtercard<11>" LOCATE = SITE "D1" LEVEL 1;
COMP "clock_feedback_in" LOCATE = SITE "AJ16" LEVEL 1;
COMP "daughtercard<20>" LOCATE = SITE "E4" LEVEL 1;
COMP "daughtercard<12>" LOCATE = SITE "D2" LEVEL 1;
COMP "daughtercard<21>" LOCATE = SITE "D3" LEVEL 1;
COMP "daughtercard<13>" LOCATE = SITE "J4" LEVEL 1;
COMP "daughtercard<30>" LOCATE = SITE "K9" LEVEL 1;
COMP "daughtercard<22>" LOCATE = SITE "P5" LEVEL 1;
COMP "daughtercard<14>" LOCATE = SITE "J3" LEVEL 1;
COMP "daughtercard<31>" LOCATE = SITE "K3" LEVEL 1;
COMP "daughtercard<23>" LOCATE = SITE "N5" LEVEL 1;
COMP "daughtercard<15>" LOCATE = SITE "H4" LEVEL 1;
COMP "daughtercard<40>" LOCATE = SITE "J1" LEVEL 1;
COMP "daughtercard<32>" LOCATE = SITE "L4" LEVEL 1;
COMP "daughtercard<24>" LOCATE = SITE "M5" LEVEL 1;
COMP "daughtercard<16>" LOCATE = SITE "G4" LEVEL 1;
COMP "daughtercard<41>" LOCATE = SITE "J2" LEVEL 1;
COMP "daughtercard<33>" LOCATE = SITE "K1" LEVEL 1;
COMP "daughtercard<25>" LOCATE = SITE "L6" LEVEL 1;
COMP "daughtercard<17>" LOCATE = SITE "F3" LEVEL 1;
COMP "daughtercard<42>" LOCATE = SITE "H1" LEVEL 1;
COMP "daughtercard<34>" LOCATE = SITE "L3" LEVEL 1;
COMP "daughtercard<26>" LOCATE = SITE "L8" LEVEL 1;
COMP "daughtercard<18>" LOCATE = SITE "F4" LEVEL 1;
COMP "daughtercard<43>" LOCATE = SITE "L7" LEVEL 1;
COMP "daughtercard<35>" LOCATE = SITE "M4" LEVEL 1;
COMP "daughtercard<27>" LOCATE = SITE "K7" LEVEL 1;
COMP "daughtercard<19>" LOCATE = SITE "E3" LEVEL 1;
COMP "daughtercard<36>" LOCATE = SITE "M3" LEVEL 1;
COMP "daughtercard<28>" LOCATE = SITE "K8" LEVEL 1;
COMP "ram0_cen_b" LOCATE = SITE "U25" LEVEL 1;
COMP "daughtercard<37>" LOCATE = SITE "M6" LEVEL 1;
COMP "daughtercard<29>" LOCATE = SITE "L9" LEVEL 1;
COMP "daughtercard<38>" LOCATE = SITE "M7" LEVEL 1;
COMP "daughtercard<39>" LOCATE = SITE "K2" LEVEL 1;
COMP "vga_out_hsync" LOCATE = SITE "AC13" LEVEL 1;
COMP "beep" LOCATE = SITE "AC19" LEVEL 1;
COMP "ram1_cen_b" LOCATE = SITE "V5" LEVEL 1;
COMP "disp_ce_b" LOCATE = SITE "AF13" LEVEL 1;
COMP "tv_in_fifo_read" LOCATE = SITE "AC22" LEVEL 1;
COMP "flash_sts" LOCATE = SITE "AL9" LEVEL 1;
COMP "button_left" LOCATE = SITE "AL5" LEVEL 1;
COMP "rs232_cts" LOCATE = SITE "N8" LEVEL 1;
COMP "button_down" LOCATE = SITE "AK6" LEVEL 1;
COMP "ac97_synch" LOCATE = SITE "AC17" LEVEL 1;
COMP "ram0_bwe_b<0>" LOCATE = SITE "V27" LEVEL 1;
COMP "ram0_bwe_b<1>" LOCATE = SITE "U27" LEVEL 1;
COMP "ram0_bwe_b<2>" LOCATE = SITE "W27" LEVEL 1;
COMP "vga_out_red<0>" LOCATE = SITE "AF11" LEVEL 1;
COMP "ram0_bwe_b<3>" LOCATE = SITE "U26" LEVEL 1;
COMP "vga_out_red<1>" LOCATE = SITE "AG10" LEVEL 1;
COMP "analyzer1_data<0>" LOCATE = SITE "R2" LEVEL 1;
COMP "vga_out_red<2>" LOCATE = SITE "AG9" LEVEL 1;
COMP "analyzer1_data<1>" LOCATE = SITE "R1" LEVEL 1;
COMP "vga_out_red<3>" LOCATE = SITE "AF9" LEVEL 1;
COMP "analyzer1_data<2>" LOCATE = SITE "P2" LEVEL 1;
COMP "vga_out_red<4>" LOCATE = SITE "AF8" LEVEL 1;
COMP "analyzer1_data<3>" LOCATE = SITE "P1" LEVEL 1;
COMP "vga_out_red<5>" LOCATE = SITE "AD12" LEVEL 1;
COMP "analyzer1_data<4>" LOCATE = SITE "N2" LEVEL 1;
COMP "vga_out_red<6>" LOCATE = SITE "AE8" LEVEL 1;
COMP "analyzer1_data<5>" LOCATE = SITE "N1" LEVEL 1;
COMP "vga_out_red<7>" LOCATE = SITE "AE9" LEVEL 1;
COMP "analyzer1_data<6>" LOCATE = SITE "M2" LEVEL 1;
COMP "ram0_data<10>" LOCATE = SITE "U29" LEVEL 1;
COMP "analyzer1_data<7>" LOCATE = SITE "M1" LEVEL 1;
COMP "ram0_data<11>" LOCATE = SITE "V28" LEVEL 1;
COMP "analyzer1_data<8>" LOCATE = SITE "N9" LEVEL 1;
COMP "ram0_data<20>" LOCATE = SITE "AF31" LEVEL 1;
COMP "ram0_data<12>" LOCATE = SITE "W28" LEVEL 1;
COMP "analyzer1_data<9>" LOCATE = SITE "L2" LEVEL 1;
COMP "ram0_data<21>" LOCATE = SITE "AF30" LEVEL 1;
COMP "ram0_data<13>" LOCATE = SITE "W29" LEVEL 1;
COMP "ram0_data<30>" LOCATE = SITE "AF29" LEVEL 1;
COMP "ram0_data<22>" LOCATE = SITE "AG31" LEVEL 1;
COMP "ram0_data<14>" LOCATE = SITE "Y28" LEVEL 1;
COMP "ram0_data<31>" LOCATE = SITE "AF27" LEVEL 1;
COMP "ram0_data<23>" LOCATE = SITE "AG30" LEVEL 1;
COMP "ram0_data<15>" LOCATE = SITE "Y29" LEVEL 1;
COMP "rs232_rxd" LOCATE = SITE "P6" LEVEL 1;
COMP "ram0_data<32>" LOCATE = SITE "AG29" LEVEL 1;
COMP "ram0_data<24>" LOCATE = SITE "AH31" LEVEL 1;
COMP "ram0_data<16>" LOCATE = SITE "AA28" LEVEL 1;
COMP "ram0_data<33>" LOCATE = SITE "AG28" LEVEL 1;
COMP "ram0_data<25>" LOCATE = SITE "AH30" LEVEL 1;
COMP "ram0_data<17>" LOCATE = SITE "Y27" LEVEL 1;
COMP "ram0_data<34>" LOCATE = SITE "AH29" LEVEL 1;
COMP "ram0_data<26>" LOCATE = SITE "AA25" LEVEL 1;
COMP "ram0_data<18>" LOCATE = SITE "AE31" LEVEL 1;
COMP "ram0_ce_b" LOCATE = SITE "W26" LEVEL 1;
COMP "rs232_rts" LOCATE = SITE "R3" LEVEL 1;
COMP "ram0_data<35>" LOCATE = SITE "AB25" LEVEL 1;
COMP "ram0_data<27>" LOCATE = SITE "AD25" LEVEL 1;
COMP "ram0_data<19>" LOCATE = SITE "AE30" LEVEL 1;
COMP "systemace_mpbrdy" LOCATE = SITE "L31" LEVEL 1;
COMP "rs232_txd" LOCATE = SITE "P4" LEVEL 1;
COMP "ram0_data<28>" LOCATE = SITE "AE28" LEVEL 1;
COMP "ram0_data<29>" LOCATE = SITE "AF28" LEVEL 1;
COMP "ram0_address<10>" LOCATE = SITE "AB27" LEVEL 1;
COMP "systemace_address<0>" LOCATE = SITE "K31" LEVEL 1;
COMP "ram0_address<11>" LOCATE = SITE "AC27" LEVEL 1;
COMP "systemace_address<1>" LOCATE = SITE "K30" LEVEL 1;
COMP "ram0_address<12>" LOCATE = SITE "AD27" LEVEL 1;
COMP "systemace_address<2>" LOCATE = SITE "J31" LEVEL 1;
COMP "ram1_ce_b" LOCATE = SITE "U4" LEVEL 1;
COMP "ram0_address<13>" LOCATE = SITE "AD26" LEVEL 1;
COMP "systemace_address<3>" LOCATE = SITE "J30" LEVEL 1;
COMP "ram0_address<14>" LOCATE = SITE "AC24" LEVEL 1;
COMP "systemace_address<4>" LOCATE = SITE "H31" LEVEL 1;
COMP "ram0_address<15>" LOCATE = SITE "AD29" LEVEL 1;
COMP "systemace_address<5>" LOCATE = SITE "F28" LEVEL 1;
COMP "ram0_address<16>" LOCATE = SITE "AD28" LEVEL 1;
COMP "vga_out_vsync" LOCATE = SITE "AC11" LEVEL 1;
COMP "tv_in_i2c_clock" LOCATE = SITE "AD21" LEVEL 1;
COMP "systemace_address<6>" LOCATE = SITE "E29" LEVEL 1;
COMP "ram0_address<17>" LOCATE = SITE "W31" LEVEL 1;
COMP "ram0_address<18>" LOCATE = SITE "V31" LEVEL 1;
COMP "systemace_ce_b" LOCATE = SITE "E28" LEVEL 1;
COMP "keyboard_clock" LOCATE = SITE "AG16" LEVEL 1;
COMP "ram1_address<10>" LOCATE = SITE "AC6" LEVEL 1;
COMP "ram1_address<11>" LOCATE = SITE "AB7" LEVEL 1;
COMP "ram1_address<12>" LOCATE = SITE "AA7" LEVEL 1;
COMP "ram1_address<13>" LOCATE = SITE "Y6" LEVEL 1;
COMP "ram1_address<14>" LOCATE = SITE "W6" LEVEL 1;
COMP "ram0_oe_b" LOCATE = SITE "V25" LEVEL 1;
COMP "ram1_address<15>" LOCATE = SITE "V6" LEVEL 1;
COMP "tv_out_vsync_b" LOCATE = SITE "M27" LEVEL 1;
COMP "ram1_address<16>" LOCATE = SITE "U6" LEVEL 1;
COMP "ram1_address<17>" LOCATE = SITE "AC5" LEVEL 1;
COMP "ram1_address<18>" LOCATE = SITE "AB3" LEVEL 1;
COMP "tv_in_i2c_data" LOCATE = SITE "AD19" LEVEL 1;
COMP "ram1_oe_b" LOCATE = SITE "W5" LEVEL 1;
COMP "analyzer2_data<10>" LOCATE = SITE "N3" LEVEL 1;
COMP "analyzer2_data<11>" LOCATE = SITE "R7" LEVEL 1;
COMP "keyboard_data" LOCATE = SITE "AF16" LEVEL 1;
COMP "analyzer2_data<12>" LOCATE = SITE "M10" LEVEL 1;
COMP "analyzer2_data<13>" LOCATE = SITE "L10" LEVEL 1;
COMP "analyzer2_data<14>" LOCATE = SITE "K10" LEVEL 1;
COMP "analyzer2_data<15>" LOCATE = SITE "F2" LEVEL 1;
COMP "systemace_oe_b" LOCATE = SITE "R31" LEVEL 1;
COMP "clock_27mhz" LOCATE = SITE "C16" LEVEL 1;
COMP "analyzer4_data<10>" LOCATE = SITE "AF25" LEVEL 1;
COMP "analyzer4_data<11>" LOCATE = SITE "AK28" LEVEL 1;
COMP "analyzer4_data<12>" LOCATE = SITE "AK29" LEVEL 1;
COMP "analyzer4_data<13>" LOCATE = SITE "AJ5" LEVEL 1;
COMP "analyzer4_data<14>" LOCATE = SITE "AK3" LEVEL 1;
COMP "ram0_data<0>" LOCATE = SITE "Y30" LEVEL 1;
COMP "analyzer4_data<15>" LOCATE = SITE "AG7" LEVEL 1;
COMP "ram0_data<1>" LOCATE = SITE "AA31" LEVEL 1;
COMP "ram0_data<2>" LOCATE = SITE "AA30" LEVEL 1;
COMP "ram0_data<3>" LOCATE = SITE "AB31" LEVEL 1;
COMP "ram0_we_b" LOCATE = SITE "U31" LEVEL 1;
COMP "ram0_data<4>" LOCATE = SITE "AB30" LEVEL 1;
COMP "ram0_data<5>" LOCATE = SITE "AC31" LEVEL 1;
COMP "ram0_data<6>" LOCATE = SITE "AC30" LEVEL 1;
COMP "mouse_clock" LOCATE = SITE "AC16" LEVEL 1;
COMP "ram0_data<7>" LOCATE = SITE "AD31" LEVEL 1;
COMP "ram0_data<8>" LOCATE = SITE "AA27" LEVEL 1;
COMP "ram0_data<9>" LOCATE = SITE "U28" LEVEL 1;
COMP "ram0_address<0>" LOCATE = SITE "AC26" LEVEL 1;
COMP "ram0_address<1>" LOCATE = SITE "AB29" LEVEL 1;
COMP "ram0_address<2>" LOCATE = SITE "AA24" LEVEL 1;
COMP "ram0_address<3>" LOCATE = SITE "AA26" LEVEL 1;
COMP "mouse_data" LOCATE = SITE "AC15" LEVEL 1;
COMP "ram0_address<4>" LOCATE = SITE "AC25" LEVEL 1;
COMP "ram0_address<5>" LOCATE = SITE "AB24" LEVEL 1;
COMP "ram0_address<6>" LOCATE = SITE "Y25" LEVEL 1;
COMP "ram0_address<7>" LOCATE = SITE "Y26" LEVEL 1;
COMP "ram0_address<8>" LOCATE = SITE "W30" LEVEL 1;
COMP "vga_out_pixel_clock" LOCATE = SITE "AC10" LEVEL 1;
COMP "ram1_we_b" LOCATE = SITE "AA6" LEVEL 1;
COMP "ram0_address<9>" LOCATE = SITE "Y31" LEVEL 1;
COMP "systemace_we_b" LOCATE = SITE "P31" LEVEL 1;
COMP "ram1_address<0>" LOCATE = SITE "AD7" LEVEL 1;
COMP "ram1_address<1>" LOCATE = SITE "Y8" LEVEL 1;
COMP "ram1_address<2>" LOCATE = SITE "Y7" LEVEL 1;
COMP "ram1_address<3>" LOCATE = SITE "AA8" LEVEL 1;
COMP "tv_out_hsync_b" LOCATE = SITE "N27" LEVEL 1;
COMP "ram1_address<4>" LOCATE = SITE "AB8" LEVEL 1;
COMP "ram1_address<5>" LOCATE = SITE "AC8" LEVEL 1;
COMP "ram1_address<6>" LOCATE = SITE "W4" LEVEL 1;
COMP "ram1_address<7>" LOCATE = SITE "U3" LEVEL 1;
COMP "ram1_address<8>" LOCATE = SITE "AD4" LEVEL 1;
COMP "systemace_irq" LOCATE = SITE "D29" LEVEL 1;
COMP "tv_in_reset_b" LOCATE = SITE "AG25" LEVEL 1;
COMP "ram1_address<9>" LOCATE = SITE "AD3" LEVEL 1;
COMP "ac97_bit_clock" LOCATE = SITE "AH24" LEVEL 1;
COMP "analyzer2_data<0>" LOCATE = SITE "R5" LEVEL 1;
COMP "analyzer2_data<1>" LOCATE = SITE "R6" LEVEL 1;
COMP "analyzer2_data<2>" LOCATE = SITE "T9" LEVEL 1;
COMP "analyzer2_data<3>" LOCATE = SITE "T8" LEVEL 1;
COMP "analyzer2_data<4>" LOCATE = SITE "N4" LEVEL 1;
COMP "analyzer2_data<5>" LOCATE = SITE "P7" LEVEL 1;
COMP "analyzer2_data<6>" LOCATE = SITE "N6" LEVEL 1;
COMP "analyzer2_data<7>" LOCATE = SITE "P9" LEVEL 1;
COMP "ac97_sdata_in" LOCATE = SITE "AJ24" LEVEL 1;
COMP "analyzer2_data<8>" LOCATE = SITE "R9" LEVEL 1;
COMP "analyzer2_data<9>" LOCATE = SITE "R8" LEVEL 1;
COMP "flash_byte_b" LOCATE = SITE "AH15" LEVEL 1;
COMP "user1<10>" LOCATE = SITE "C8" LEVEL 1;
COMP "user1<11>" LOCATE = SITE "C9" LEVEL 1;
COMP "tv_out_blank_b" LOCATE = SITE "H25" LEVEL 1;
COMP "user1<20>" LOCATE = SITE "E13" LEVEL 1;
COMP "user1<12>" LOCATE = SITE "C10" LEVEL 1;
COMP "user1<21>" LOCATE = SITE "F15" LEVEL 1;
COMP "user1<13>" LOCATE = SITE "C11" LEVEL 1;
COMP "flash_data<10>" LOCATE = SITE "AK15" LEVEL 1;
COMP "flash_address<10>" LOCATE = SITE "AK17" LEVEL 1;
COMP "user1<30>" LOCATE = SITE "J14" LEVEL 1;
COMP "user1<22>" LOCATE = SITE "B14" LEVEL 1;
COMP "user1<14>" LOCATE = SITE "C12" LEVEL 1;
COMP "flash_data<11>" LOCATE = SITE "AK14" LEVEL 1;
COMP "flash_address<11>" LOCATE = SITE "AL18" LEVEL 1;
COMP "user1<31>" LOCATE = SITE "J15" LEVEL 1;
COMP "user1<23>" LOCATE = SITE "B15" LEVEL 1;
COMP "user1<15>" LOCATE = SITE "C13" LEVEL 1;
COMP "flash_data<12>" LOCATE = SITE "AK13" LEVEL 1;
COMP "flash_address<20>" LOCATE = SITE "AL23" LEVEL 1;
COMP "flash_address<12>" LOCATE = SITE "AL19" LEVEL 1;
COMP "user1<24>" LOCATE = SITE "H9" LEVEL 1;
COMP "user1<16>" LOCATE = SITE "F7" LEVEL 1;
COMP "flash_data<13>" LOCATE = SITE "AK12" LEVEL 1;
COMP "flash_address<21>" LOCATE = SITE "AK23" LEVEL 1;
COMP "flash_address<13>" LOCATE = SITE "AK19" LEVEL 1;
COMP "user1<25>" LOCATE = SITE "G9" LEVEL 1;
COMP "user1<17>" LOCATE = SITE "F8" LEVEL 1;
COMP "flash_data<14>" LOCATE = SITE "AK11" LEVEL 1;
COMP "flash_address<22>" LOCATE = SITE "AL25" LEVEL 1;
COMP "flash_address<14>" LOCATE = SITE "AL20" LEVEL 1;
COMP "user1<26>" LOCATE = SITE "H11" LEVEL 1;
COMP "user1<18>" LOCATE = SITE "E9" LEVEL 1;
COMP "user2<10>" LOCATE = SITE "E16" LEVEL 1;
COMP "flash_data<15>" LOCATE = SITE "AK10" LEVEL 1;
COMP "flash_address<23>" LOCATE = SITE "AJ15" LEVEL 1;
COMP "flash_address<15>" LOCATE = SITE "AK20" LEVEL 1;
COMP "ac97_sdata_out" LOCATE = SITE "AC18" LEVEL 1;
COMP "user1<27>" LOCATE = SITE "F12" LEVEL 1;
COMP "user1<19>" LOCATE = SITE "E11" LEVEL 1;
COMP "user2<11>" LOCATE = SITE "E18" LEVEL 1;
COMP "flash_address<16>" LOCATE = SITE "AL21" LEVEL 1;
COMP "user1<28>" LOCATE = SITE "F14" LEVEL 1;
COMP "user2<20>" LOCATE = SITE "D23" LEVEL 1;
COMP "user2<12>" LOCATE = SITE "E20" LEVEL 1;
COMP "flash_address<17>" LOCATE = SITE "AK21" LEVEL 1;
COMP "user1<29>" LOCATE = SITE "G15" LEVEL 1;
COMP "user2<21>" LOCATE = SITE "C24" LEVEL 1;
COMP "user2<13>" LOCATE = SITE "E22" LEVEL 1;
COMP "tv_out_i2c_data" LOCATE = SITE "H27" LEVEL 1;
COMP "flash_address<18>" LOCATE = SITE "AL22" LEVEL 1;
COMP "user2<30>" LOCATE = SITE "B26" LEVEL 1;
COMP "user2<22>" LOCATE = SITE "D25" LEVEL 1;
COMP "user2<14>" LOCATE = SITE "F23" LEVEL 1;
COMP "flash_address<19>" LOCATE = SITE "AK22" LEVEL 1;
COMP "user2<31>" LOCATE = SITE "B27" LEVEL 1;
COMP "user2<23>" LOCATE = SITE "D26" LEVEL 1;
COMP "user2<15>" LOCATE = SITE "F24" LEVEL 1;
COMP "user2<24>" LOCATE = SITE "A20" LEVEL 1;
COMP "user2<16>" LOCATE = SITE "D18" LEVEL 1;
COMP "user2<25>" LOCATE = SITE "A21" LEVEL 1;
COMP "user2<17>" LOCATE = SITE "D19" LEVEL 1;
COMP "user3<10>" LOCATE = SITE "D8" LEVEL 1;
COMP "user2<26>" LOCATE = SITE "A22" LEVEL 1;
COMP "user2<18>" LOCATE = SITE "D20" LEVEL 1;
COMP "user1<0>" LOCATE = SITE "B3" LEVEL 1;
COMP "user3<11>" LOCATE = SITE "D9" LEVEL 1;
COMP "user2<27>" LOCATE = SITE "A23" LEVEL 1;
COMP "user2<19>" LOCATE = SITE "D21" LEVEL 1;
COMP "user1<1>" LOCATE = SITE "C5" LEVEL 1;
COMP "flash_data<0>" LOCATE = SITE "AJ13" LEVEL 1;
COMP "flash_address<0>" LOCATE = SITE "AH14" LEVEL 1;
COMP "user3<20>" LOCATE = SITE "E14" LEVEL 1;
COMP "user3<12>" LOCATE = SITE "D11" LEVEL 1;
COMP "user2<28>" LOCATE = SITE "A24" LEVEL 1;
COMP "user1<2>" LOCATE = SITE "B5" LEVEL 1;
COMP "flash_data<1>" LOCATE = SITE "AJ12" LEVEL 1;
COMP "flash_address<1>" LOCATE = SITE "AE14" LEVEL 1;
COMP "user3<21>" LOCATE = SITE "E15" LEVEL 1;
COMP "user3<13>" LOCATE = SITE "D12" LEVEL 1;
COMP "user2<29>" LOCATE = SITE "B25" LEVEL 1;
COMP "user1<3>" LOCATE = SITE "B6" LEVEL 1;
COMP "flash_data<2>" LOCATE = SITE "AL15" LEVEL 1;
COMP "flash_address<2>" LOCATE = SITE "AJ17" LEVEL 1;
COMP "user3<30>" LOCATE = SITE "H13" LEVEL 1;
COMP "user3<22>" LOCATE = SITE "A14" LEVEL 1;
COMP "user3<14>" LOCATE = SITE "D13" LEVEL 1;
COMP "user2<0>" LOCATE = SITE "H21" LEVEL 1;
COMP "user1<4>" LOCATE = SITE "A8" LEVEL 1;
COMP "tv_in_aef" LOCATE = SITE "AJ23" LEVEL 1;
COMP "flash_data<3>" LOCATE = SITE "AL14" LEVEL 1;
COMP "flash_address<3>" LOCATE = SITE "AH18" LEVEL 1;
COMP "user3<31>" LOCATE = SITE "G12" LEVEL 1;
COMP "user3<23>" LOCATE = SITE "A15" LEVEL 1;
COMP "user3<15>" LOCATE = SITE "D14" LEVEL 1;
COMP "user2<1>" LOCATE = SITE "G20" LEVEL 1;
COMP "user1<5>" LOCATE = SITE "A9" LEVEL 1;
COMP "tv_in_aff" LOCATE = SITE "AJ22" LEVEL 1;
COMP "flash_data<4>" LOCATE = SITE "AL13" LEVEL 1;
COMP "flash_address<4>" LOCATE = SITE "AH19" LEVEL 1;
COMP "user3<24>" LOCATE = SITE "H10" LEVEL 1;
COMP "user3<16>" LOCATE = SITE "G8" LEVEL 1;
COMP "user2<2>" LOCATE = SITE "H19" LEVEL 1;
COMP "user1<6>" LOCATE = SITE "A10" LEVEL 1;
COMP "flash_data<5>" LOCATE = SITE "AL12" LEVEL 1;
COMP "tv_out_reset_b" LOCATE = SITE "G27" LEVEL 1;
COMP "flash_address<5>" LOCATE = SITE "AJ19" LEVEL 1;
COMP "user3<25>" LOCATE = SITE "G10" LEVEL 1;
COMP "user3<17>" LOCATE = SITE "F9" LEVEL 1;
COMP "user2<3>" LOCATE = SITE "F17" LEVEL 1;
COMP "user1<7>" LOCATE = SITE "A11" LEVEL 1;
COMP "flash_data<6>" LOCATE = SITE "AL11" LEVEL 1;
COMP "flash_address<6>" LOCATE = SITE "AH20" LEVEL 1;
COMP "user3<26>" LOCATE = SITE "F11" LEVEL 1;
COMP "user3<0>" LOCATE = SITE "A4" LEVEL 1;
COMP "user3<18>" LOCATE = SITE "E10" LEVEL 1;
COMP "user2<4>" LOCATE = SITE "F19" LEVEL 1;
COMP "user4<10>" LOCATE = SITE "E17" LEVEL 1;
COMP "user1<8>" LOCATE = SITE "E6" LEVEL 1;
COMP "flash_data<7>" LOCATE = SITE "AL10" LEVEL 1;
COMP "flash_address<7>" LOCATE = SITE "AJ20" LEVEL 1;
COMP "user3<27>" LOCATE = SITE "F13" LEVEL 1;
COMP "user3<1>" LOCATE = SITE "A5" LEVEL 1;
COMP "user3<19>" LOCATE = SITE "E12" LEVEL 1;
COMP "user2<5>" LOCATE = SITE "F21" LEVEL 1;
COMP "user4<11>" LOCATE = SITE "E19" LEVEL 1;
COMP "user1<9>" LOCATE = SITE "C6" LEVEL 1;
COMP "flash_data<8>" LOCATE = SITE "AH13" LEVEL 1;
COMP "flash_address<8>" LOCATE = SITE "AH21" LEVEL 1;
COMP "user3<2>" LOCATE = SITE "A6" LEVEL 1;
COMP "user2<6>" LOCATE = SITE "G22" LEVEL 1;
COMP "user4<20>" LOCATE = SITE "C23" LEVEL 1;
COMP "user4<12>" LOCATE = SITE "E21" LEVEL 1;
COMP "user3<28>" LOCATE = SITE "G14" LEVEL 1;
COMP "flash_data<9>" LOCATE = SITE "AH12" LEVEL 1;
COMP "flash_address<9>" LOCATE = SITE "AL17" LEVEL 1;
COMP "user3<3>" LOCATE = SITE "A7" LEVEL 1;
COMP "user2<7>" LOCATE = SITE "H22" LEVEL 1;
COMP "user4<21>" LOCATE = SITE "D24" LEVEL 1;
COMP "user4<13>" LOCATE = SITE "E23" LEVEL 1;
COMP "user3<29>" LOCATE = SITE "J13" LEVEL 1;
COMP "tv_out_clock" LOCATE = SITE "L27" LEVEL 1;
COMP "user2<8>" LOCATE = SITE "A18" LEVEL 1;
COMP "user4<30>" LOCATE = SITE "A27" LEVEL 1;
COMP "user4<22>" LOCATE = SITE "C26" LEVEL 1;
COMP "user4<14>" LOCATE = SITE "E24" LEVEL 1;
COMP "user4<0>" LOCATE = SITE "G17" LEVEL 1;
COMP "user3<4>" LOCATE = SITE "B9" LEVEL 1;
COMP "user2<9>" LOCATE = SITE "A19" LEVEL 1;
COMP "user4<31>" LOCATE = SITE "A28" LEVEL 1;
COMP "user4<23>" LOCATE = SITE "E25" LEVEL 1;
COMP "user4<15>" LOCATE = SITE "G24" LEVEL 1;
COMP "user4<1>" LOCATE = SITE "G18" LEVEL 1;
COMP "user3<5>" LOCATE = SITE "B10" LEVEL 1;
COMP "user4<24>" LOCATE = SITE "B20" LEVEL 1;
COMP "user4<16>" LOCATE = SITE "C19" LEVEL 1;
COMP "user4<2>" LOCATE = SITE "F16" LEVEL 1;
COMP "user3<6>" LOCATE = SITE "B11" LEVEL 1;
COMP "user4<25>" LOCATE = SITE "B21" LEVEL 1;
COMP "user4<17>" LOCATE = SITE "C20" LEVEL 1;
COMP "user4<3>" LOCATE = SITE "F18" LEVEL 1;
COMP "user3<7>" LOCATE = SITE "B12" LEVEL 1;
COMP "user4<26>" LOCATE = SITE "B22" LEVEL 1;
COMP "user4<18>" LOCATE = SITE "C21" LEVEL 1;
COMP "user4<4>" LOCATE = SITE "F20" LEVEL 1;
COMP "user3<8>" LOCATE = SITE "D6" LEVEL 1;
COMP "user4<27>" LOCATE = SITE "B23" LEVEL 1;
COMP "user4<19>" LOCATE = SITE "C22" LEVEL 1;
COMP "user4<5>" LOCATE = SITE "G21" LEVEL 1;
COMP "user3<9>" LOCATE = SITE "D7" LEVEL 1;
COMP "user4<28>" LOCATE = SITE "A25" LEVEL 1;
COMP "user4<6>" LOCATE = SITE "G23" LEVEL 1;
COMP "user4<29>" LOCATE = SITE "A26" LEVEL 1;
COMP "user4<7>" LOCATE = SITE "H23" LEVEL 1;
COMP "tv_in_hff" LOCATE = SITE "AH23" LEVEL 1;
COMP "user4<8>" LOCATE = SITE "B18" LEVEL 1;
COMP "tv_in_line_clock1" LOCATE = SITE "AD16" LEVEL 1;
COMP "tv_in_line_clock2" LOCATE = SITE "AD17" LEVEL 1;
COMP "user4<9>" LOCATE = SITE "B19" LEVEL 1;
COMP "ram0_adv_ld" LOCATE = SITE "V26" LEVEL 1;
COMP "clock_feedback_out" LOCATE = SITE "AL28" LEVEL 1;
SCHEMATIC END;

